:root {
    --grey: #CCC;
    --magenta: #F06; 
}

body{
    font: 1em helvetica, arial, system-ui, sans-serif;
    background-color: #eee;
}

.properties{
    display: grid;
    gap: 1em;
    padding: 1em;
}

.property{
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: #fff;
    box-shadow: #0002 0 0 8px; 
    border-radius: .5em;
    overflow: hidden;
}
  
  body {
    font-family: 'Poppins', sans-serif;
    text-align: center;
  }
  
  #container {
    height: 100vh; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
  }
  
#heart {
    border:none;
    background-color: transparent;
    padding: 0;
    line-height: 1;
    position: absolute;
    top: 1em;
    right: 1em;

    width: 3.5em;  
    stroke: var(--magenta);
    fill: var(--grey);
    stroke-dasharray: 54;
    stroke-dashoffset: 54; 
}
  
#heart.like {
animation: 1s ease-in forwards like, 
0.8s linear 2s 2 forwards beat;
}
  
#heart.unlike {
animation: 1s ease-out forwards unlike; 
}
  
  @keyframes like {
    0% {
      stroke-dashoffset: 54;
      fill: var(--grey);
    }
  
    70% {
      stroke-dashoffset: 0;
      fill: var(--grey);
    }
  
    100% {
      stroke-dashoffset: 0;
      fill: var(--magenta);
    }
  }
  
  @keyframes unlike {
    0% {
      stroke-dashoffset: 0;
      fill: var(--magenta); 
    }
    
    30% {
      stroke-dashoffset: 0;
      fill: var(--grey);
    }
    
    100% {
      stroke-dashoffset: 54;
      fill: var(--grey);
    }
  }
  
  
  @keyframes beat {
    0% {
      transform: scale(1, 1);
    }
  
    50% {
      transform: scale(0.9, 0.9);
    }
  
    100% {
      transform: scale(1, 1);
    }
  
  }
  
  a {
    position: absolute; 
    top: 1rem; 
    right: 1rem; 
    color: black; 
    text-decoration: none; 
    border-bottom: 1px solid var(--magenta);
  }

.gallery{
    display: flex;
    margin: 0;
    transform: translateX(0%);
    transition: transform .5s;
}

.second{
    transform: translateX(-100%);
}
.third{
    transform: translateX(-200%);
}


.gallery img{
 
    display: block;
    max-width: 100%;
}
.cost{
    font-size: 1.5em;
    font-weight: 400;
    margin: 0.5rem 0;
}

.address{
    font-size: 1em;
    font-weight: 400;
    margin: 0.5rem 0;
    font-style: normal;
}

.details{
    list-style: none;
    text-transform: uppercase;
    margin: 0.5rem 0;
    padding: 0;
    color: #333;
}

.details li{
    display: inline;
}

.details li:not(:first-child)::before{
    content: "\2022";
    display: inline-block;
    margin-right: .5em;
    line-height: 1;
    color: black;
}

.info{
    padding: 0 1em;
    flex-grow: 1;
}

.rooms {
    display: flex;
    gap: 1rem;
    padding: 1rem;
    margin: 0;
    list-style: none;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;

}

.rooms img{
    height: 1.3em;
    vertical-align: middle;
    margin-right: 1rem;
}

#company{
    font-size: .8em;
    text-transform: uppercase; 
    color: #999;

}
.face{
    width: 3em;
    height: 3em;
    object-fit: cover;
    border-radius: 50%;
}
.agent {
    display: flex;
    gap: .5em;
    margin: 1rem;
}
.realtor{
    display: flow-root;
    background-color: #eee;
    padding: 0 1rem;
}

.contact{
    margin: 0;
}

.contact-name {
    font-weight: 700;
}

.contact-num{
    margin: 0;
}

@media screen and (min-width: 40rem){
    .properties{
        grid-template-columns: repeat(2,1fr);
    }
}
@media screen and (min-width: 60rem){
    .properties{
        grid-template-columns: repeat(3,1fr);
        max-width: 80rem;
        margin: 0 auto;
    }
}


